<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Habit Reminders</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Habit Reminders</h1>
    <table border="1">
        <tr>
            <th>User</th>
            <th>Habit</th>
            <th>Reminder Time</th>
            <th>Last Reminded</th>
            <th>Action</th>
        </tr>
        {% for reminder in reminders %}
        <tr>
            <td>{{ reminder.habit.user.name }}</td>
            <td>{{ reminder.habit.name }}</td>
            <td>{{ reminder.reminder_time }}</td>
            <td>{{ reminder.last_reminded }}</td>
            <td><a href="{% url 'edit_reminder' reminder.id %}">Edit</a></td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No reminders set.</td></tr>
        {% endfor %}
    </table>

    <a href="{% url 'home' %}">Back</a>
</body>
</html>
