  {% extends 'main.html' %}


 {% block content %}



<div>
   
        <a href="{% url 'Create-Habit' %}" class="action-btn btn-create">Create Habit</a>
    
</div>


<div>
    {% for habit in habits %}
    <div>
        <h5>
            {{ habit.id }} -- <a href="{% url 'Habit' habit.id %}">{{ habit.name }}</a>
        </h5>
        <small>{{ habit.description }}</small><br>

      
    </div>
    {% endfor %}
</div>


<br>
<a href="{% url 'logout' %}" class="logout-btn">Logout</a>




{% endblock content %}